# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
publish/20150715/DataBaseServer.dll
publish/20150715.rar
publish/*
src/DataBaseServer/bin/*
src/DataBaseServer/obj/*
src/Finder/bin/*
src/Finder/obj/*
src/Update/obj/*
src/Finder.suo
src/Finder.suo
*.suo
src/HtmlParse/HtmlParse/obj/Debug/HtmlParse.csproj.FileListAbsolute.txt
src/HtmlParse/HtmlParse/obj/Debug/HtmlParse.dll
src/HtmlParse/HtmlParse/obj/Debug/HtmlParse.pdb
src/HtmlParse/HtmlParse/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/HtmlParse/HtmlParse/bin/Debug/HtmlParse.dll
src/HtmlParse/HtmlParse/bin/Debug/HtmlParse.pdb
src/HtmlParse/HtmlParse/bin/Debug/log4net.dll
src/HtmlParse/HtmlParse/bin/Debug/MILHTMLParser.dll
